h2 {
  color: #1c3250;
}

h3 {
  font-size: 24px;
  color: #1c3250;
}

table.container {
  width: 550px;
}


.intro {
  margin-top: 2.5rem !important;
}

.intro p {
  color: #747678;
}

.intro h2 {
  font-size: 30px;
}

.section {
  width: 550px !important;
}

.section .columns {
  padding-top: 8px;
  padding-bottom: 7px;
}

.section img {
  max-width: none;
}

.section span {
  display: inline-block;
  font-size: 30px;
  vertical-align: top;
  margin-left: 1rem;
  margin-top: .5rem;
  color: #fff;
}

.section p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 30px;
  vertical-align: top;
  margin-left: 1rem;
  margin-top: .5rem;
  color: #fff;
}

.ecoa-copy span {
  line-height: 29px;
  font-weight: bold;
  text-transform: none;
}

.copy h3 {
  line-height: 29px;
  text-transform: uppercase;
  font-weight: bold;
}

.copy p {
  font-size: 16px;
  color: #747678;
}


.copy a {
  color: #e78245;
}

.bottom-copy h3 {
  line-height: 29px;
  text-transform: uppercase;
  font-weight: bold;
}

.bottom-copy p {
  font-size: 16.5px;
  color: #747678;
}

.bottom-copy a {
  color: #e78245;
}

.quick-links {
  max-width: 550px !important;
}

.links-title {
  font-size: 24px;
  font-weight: bold;
  color: #1c3250;
}

.quick-links img {
  float: left;
  color: #2199e8;
}

.quick-links a {
  color: #1688ab;
}

.bottom-blocks {
  max-width: 550px;
}

.block-img {
  Margin-right: 1rem;
}

.bottom-blocks img {

}

.bottom-blocks h2 {
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 29px;
}


.footer {
  max-width: 660px;
}

.footer p {
  text-align: center;
  font-size: 12px;
  line-height: 10px;
}

.view {

}

table.button {
  margin-bottom: 0;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  * {
    vertical-align: middle;
    text-align: center;
  }
  img {
    margin-top: 2px;
    Margin-top: 2px;
  }
}
table.button table td {
  text-align: center;
}
.event table.button table td {
  background-color: #54bcd0;
  border: none;
  border-top: #54bcd0 4px solid;
}

.event .text-right .small-6 .large-6 .columns {
  padding-bottom: 0;
  padding-right: 0;
}

.view-now table.button table td {
  background-color: #84337e;
  border: none;
  border-top: #84337e 4px solid;
}

.view-more table.button table td {
  background-color: #00b398;
  border: none;
  border-top: #00b398 4px solid;
}

.a5q {display: none !important;}

// table.button.small table a{
//   padding: 0;
// }
//
// table.button.small table td {
//   padding: 5px 0px 1px 10px;
// }
