
  <container style="background-color: #1c3250 ; width: 600px;">
  <spacer size="10"></spacer>
  <row>
    <columns small="12" large="12" class="text-center" style="padding-bottom: 0;" valign="middle">
      <p class="text-center" style="color: #fff;">MONTH DD, YYYY</p>
    </columns>
  </row>
</container>


<container class="hero" style="width: 600px">
  <row>
      <a href="https://www.ert.com/">
        <img style="width: 100%;" src="http://content.ert.com/l/71652/2017-10-20/5mrzl1/71652/180974/hero_header.jpg" alt="">
      </a>
  </row>
</container>


<container class="intro">
  <row>
    <columns>
      <h2>YOUR WEEKLY ERT SALES BOOST</h2>
      <p>Learn what's new from ERT Marketing this week. Scroll to any product line for the latest tools, news and updates you need to successfully engage customers and prospects. <strong><i>Good selling!</i></strong></p>
    </columns>
  </row>
</container>
<spacer size="20"></spacer>


<container>
<row>
  <div>
      <container>
        <row style="background-color:#7db642;" class="section">
          <columns small="2" large="1">
            <img src="http://content.ert.com/l/71652/2017-10-20/5mrzkp/71652/180966/eCOA_logo.png" alt="">
          </columns>
          <columns small="9" large="11">
            <span>eCOA</span>
          </columns>
        </row>
      </container>

      <container class=" copy ecoa-copy">
        <row>
          <columns style="padding-left: 0;padding-bottom:1rem;">
              <spacer size="15"></spacer>
            <h3>New <span>eCOA</span> white paper on XXX</h3>
            <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat... <a href="#"><i>Read More »</i></a></p>
          </columns>
        </row>

      </container>

      <container class="quick-links" style="background-color: #f0f1f0;">

              <row>
                <columns>
                  <p class="links-title">QUICK LINKS</p>
                </columns>
              </row>
              <row>
                <columns class="show-for-large"  large="1"></columns>
                <columns large="6" style="padding-bottom: 0;">
                  <row>
                    <columns>
                      <a href="mailto:chris.hall@ert.com">
                        <img src="http://content.ert.com/l/71652/2017-10-20/5mrzkh/71652/180960/Contact.png" alt="">&nbsp;&nbsp;
                        Contact Chris Hall
                      </a>
                      <spacer size="5"></spacer>
                    </columns>
                  </row>
                </columns>
                <columns class="" large="6" style="padding-bottom: 0;">
                  <row>
                    <columns>
                      <a href="mailto:chris.hall@ert.com">
                        <img src="http://content.ert.com/l/71652/2017-10-20/5mrzkh/71652/180960/Contact.png" alt="">&nbsp;&nbsp;
                        Contact Chris Hall
                      </a>
                      <spacer size="5"></spacer>
                    </columns>
                  </row>
                </columns>
              </row>
      </container>

    </div>
    <spacer size="20"></spacer>
    </row>

</container>



<container style="border: 8px solid #7db642" class="bottom-blocks">
  <spacer size="30"></spacer>
  <row>
    <columns large="1"></columns>
    <columns large="11">
      <row>
        <columns small="2" large="1">
          <img src="http://content.ert.com/l/71652/2017-10-20/5mrzlf/71652/180988/share_feedback.png" alt="">
        </columns>
        <columns small="9" large="10">
          <h2 style="color: #7db642;">Share your Feedback</h2>
        </columns>
      </row>
    </columns>
  </row>
  <row>
    <columns large="1"></columns>
    <columns large="10" class="bottom-copy">
        <h3>This Weeks Sales Survey <br /> Question is:</h3>
        <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.<a href="https://drive.google.com/drive/folders/0B4UGGlvPwqJNcWUwSzRDU3B5bGc"><i>&nbsp;&nbsp;Vote Now »</i></a></p>
      <spacer size="20"></spacer>
      <h3>Last week’s Sales survey <br /> results are:</h3>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.<a href="https://drive.google.com/drive/folders/0B4UGGlvPwqJNcWUwSzRDU3B5bGc"><i>&nbsp;&nbsp;See the Results »</i></a></p>
    </columns>
    <columns large="1"></columns>
  </row>
  <spacer size="10"></spacer>
</container>
<spacer size="30"></spacer>



<container style="border: 8px solid #54bcd0;" class="bottom-blocks">
  <spacer size="30"></spacer>
  <row>
    <columns large="1"></columns>
    <columns large="11" style="padding:0 !important;">
      <row>
        <columns small="2" large="2" style="padding-bottom: 0;">
          <img style="" class="show-for-large" src="http://content.ert.com/l/71652/2017-10-20/5mrzkc/71652/180956/calendar.png" alt="">
        </columns>
        <columns small="9" large="9" style="padding-bottom: 0;">
          <h2 style="font-size: 29px;">See What's Coming up</h2>
        </columns>
      </row>
    </columns>
  </row>
  <row>
    <columns small="2" large="6"></columns>
    <columns small="2" large="6"></columns>
    <columns style="Margin: 0 !important; padding: 0 !important;" small="8" large="7" class="event text-right">
      <button   href="https://docs.google.com/spreadsheets/d/1giABDtzpH2GqSz_JOhruYL0qARqwJkOAp8tVOyRtvko/edit#gid=1689950783">VIEW ALL EVENTS&nbsp;&nbsp;<img src="http://content.ert.com/l/71652/2017-10-20/5mrzlp/71652/180996/view_more.png" alt="" align="right"></button>
    </columns>
  </row>
</container>
<spacer size="30"></spacer>



<container style="border: 8px solid #84337e;" class="bottom-blocks">
  <spacer size="20"></spacer>
  <row>
    <columns large="1"></columns>
    <columns small="12" large="10" style="padding-bottom:0;">
      <row>
        <columns large="2">
          <img class="show-for-large" src="http://content.ert.com/l/71652/2017-10-20/5mrzky/71652/180976/linkedIn.png" alt="">
        </columns>
        <columns small="12" large="9">
          <h2 style="line-height: 29px; margin-bottom: 0;">SHARE THE LATEST POSTS FROM ERT</h2>
        </columns>
      </row>
    </columns>
  </row>
  <row>
    <columns small="3"></columns>
    <columns small="3" large="6"></columns>
    <columns small="6" large="4" style="margin:0 !important; padding: 0 !important;" class="view-now text-right">
      <button href="https://www.linkedin.com/company/ert">VIEW NOW &nbsp;&nbsp;
        <img align="right" src="http://content.ert.com/l/71652/2017-10-20/5mrzlp/71652/180996/view_more.png" alt="">
      </button>
    </columns>
  </row>
</container>
<spacer size="30"></spacer>



<container style="border: 8px solid #00b398;" class="bottom-blocks">
  <spacer size="20"></spacer>
  <row>
    <columns large="1"></columns>
    <columns large="11" style="padding-bottom: 0;">
      <row>
        <columns small="12" large="2" style="padding-bottom:0;">
          <img class="show-for-large" src="http://content.ert.com/l/71652/2017-10-20/5mrzl5/71652/180980/newsletter.png" alt="">
        </columns>
        <columns small="12" large="9" style="padding-bottom:0;">
          <h2>Newsletter Archive</h2>
        </columns>
      </row>
    </columns>
  </row>
  <row>
    <columns class="show-for-large" large="3"></columns>
    <columns large="9" style="padding-bottom:0;">
      <p>Did you miss last week's newsletter? <br />Catch up on recent updates and activities.</p>
    </columns>
  </row>
  <row>
    <columns small="3" large="4"></columns>
    <columns small="3" large="4"></columns>
    <columns small="6" large="4" style="margin:0 !important; padding: 0 !important;" class="view-more text-right">
      <button href="https://drive.google.com/drive/folders/0B4UGGlvPwqJNNzNCME93SVg3RXc">VIEW MORE &nbsp;&nbsp;
        <img align="right" src="http://content.ert.com/l/71652/2017-10-20/5mrzlp/71652/180996/view_more.png" alt="">
      </button>
    </columns>
  </row>
</container>
<spacer size="60"></spacer>


<container class="footer">
  <hr>
  <spacer size="20"></spacer>
  <a href="#">
    <center>
      <img src="http://content.ert.com/l/71652/2017-10-20/5mrzkt/71652/180970/ERT_Logo_Tag.png" alt="">
    </center>
  </a>
  <spacer size="20"></spacer>
  <p>Copyright 2017 ERT Clinical.</p>
  <p>Internal use only.  Do not share or distribute outside of ERT.</p>
  <spacer size="20"></spacer>
</container>
%%unsubscribe%%
